* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: solid cyan;
}

body {
  font-size: 2vmin;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f0f4f8;
  color: #333;
}

header {
  background-color: red;
  background-position: center;
  padding: 4vmin 1.5vmin;
  text-align: center;
  display: flex;
  justify-content: left;
  align-items: center;
  min-height: 4vmin;
}

.cabeçario {
  display: flex;
  justify-content: left;
  width: 8vmin;
  height: 9vmin;
  
  
}

.informaçoes {
  display: grid;
  grid-template-areas:
  'header header header header header header header header'
  'aside aside main main main main main main main'
  'footer footer footer footer footer footer footer footer'
  padding: 3vmin;
}


.main {
  grid-area: main;
  background-color: white;
  height: 10vmax;
  width: 80vmx;
}

.aside {
  grid-area: aside;
  background-color: #e3edf7;
  height: 10vmax;
  width: 20vmx;
}

footer {
  grid-area: footer;
  background-color: #A3A4A0;
  color: black;
  text-align: center;

}

h1, h2 {
  margin-top: 0;
}